<a href="https://colab.research.google.com/github/molybdenum-jo/Homework/blob/main/papago_api.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# 번역 인공지능 API 사용

In [ ]:
import requests, json

In [ ]:
# 1. APP 등록 -> access token
CLIENT_ID, CLIENT_SECRET = 'oyllBL8V7cxeGUwXKBRG', 'x2JOB7fHSL'

In [ ]:
# 2. request(ko, at) -> response(en)
# curl "https://openapi.naver.com/v1/papago/n2mt" \
# -H "Content-Type: application/x-www-form-urlencoded; charset=UTF-8" \
# -H "X-Naver-Client-Id: oyllBL8V7cxeGUwXKBRG" \
# -H "X-Naver-Client-Secret: x2JOB7fHSL" \
# -d "source=ko&target=en&text=만나서 반갑습니다." -v

In [ ]:
text = '부자가 되고 싶다.'
url = 'https://openapi.naver.com/v1/papago/n2mt'
headers = {
    'Content-Type': 'application/json',
    'X-Naver-Client-Id': CLIENT_ID,
    'X-Naver-Client-Secret': CLIENT_SECRET
}
data = {'source' : 'ko', 'target': 'en', 'text': text }

In [ ]:
json.dumps(data)

'{"source": "ko", "target": "en", "text": "\\ubd80\\uc790\\uac00 \\ub418\\uace0 \\uc2f6\\ub2e4."}'

In [ ]:
response = requests.post(url, json.dumps(data), headers=headers)
response

In [ ]:
#  3. response(en) -> en_txt

In [ ]:
response.text

'{"message":{"result":{"srcLangType":"ko","tarLangType":"en","translatedText":"I want to be rich.","engineType":"N2MT","pivot":null,"dict":null,"tarDict":null},"@type":"response","@service":"naverservice.nmt.proxy","@version":"1.0.0"}}'

In [ ]:
# str -> dict
en_text = response.json()['message']['result']['translatedText']
en_text

'I want to be rich.'

In [ ]:
# 4. 함수 만들기
def translate(text, source='ko', target='en'):

    CLIENT_ID, CLIENT_SECRET = 'oyllBL8V7cxeGUwXKBRG', 'x2JOB7fHSL'

    url = 'https://openapi.naver.com/v1/papago/n2mt'
    headers = {
        'Content-Type': 'application/json',
        'X-Naver-Client-Id': CLIENT_ID,
        'X-Naver-Client-Secret': CLIENT_SECRET
    }
    data = {'source': source, 'target': target, 'text': text}

    response = requests.post(url, json.dumps(data), headers=headers)
    return response.json()['message']['result']['translatedText']

In [ ]:
text = '부자가 되고 싶어요'
en_text = translate(text)
en_text

'I want to be rich.'

In [ ]:
# 5. 한글 엑셀 파일 - > 영문 엑셀 파일
%ls

covid.xlsx  sample_data/

In [ ]:
import pandas as pd

covid = pd.read_excel('covid.xlsx')[['category', 'title']]
covid.tail(2)

   category                                title
4       104    "코로나 확진자 '0명'인 날은 절대 오지 않는다" 美전문가
5       104  올림픽 다가오는데 도쿄 코로나 확산 빨라져...일주일새 25％↑

In [ ]:
titles = list(covid['title'])
titles

['SK바이오사이언스, 코로나19 백신 임상 3상 시험계획 제출',
 '고양시 노래연습장 코로나19 누적확진 41명',
 '코로나19 신규 감염, 28일 오후 9시까지 542명',
 '프로야구 수도권 구단서 코로나19 확진자 발생',
 '"코로나 확진자 \'0명\'인 날은 절대 오지 않는다" 美전문가',
 '올림픽 다가오는데 도쿄 코로나 확산 빨라져...일주일새 25％↑']

In [ ]:
en_titles = map(translate, titles)
en_titles = list(en_titles)
en_titles

['SK Bioscience submits phase 3 clinical trial plan for COVID-19 vaccine',
 'Forty-one cumulative COVID-19 confirmed cases at the singing practice center in Goyang-si.',
 'COVID-19 new infections, 542 people by 9 p.m. on the 28th',
 'COVID-19 confirmed cases in professional baseball clubs in the Seoul metropolitan area',
 '"The day when there are \'zero\' confirmed cases of COVID-19 will never come" U.S. expert',
 'As the Olympics are approaching, the spread of COVID-19 in Tokyo is accelerating...25% in a week ↑']

In [ ]:
covid['en_titles'] = en_titles
covid

,category,title,en_titles
0,101,"SK바이오사이언스, 코로나19 백신 임상 3상 시험계획 제출",SK Bioscience submits phase 3 clinical trial p...
1,102,고양시 노래연습장 코로나19 누적확진 41명,Forty-one cumulative COVID-19 confirmed cases ...
2,103,"코로나19 신규 감염, 28일 오후 9시까지 542명","COVID-19 new infections, 542 people by 9 p.m. ..."
3,103,프로야구 수도권 구단서 코로나19 확진자 발생,COVID-19 confirmed cases in professional baseb...
4,104,"""코로나 확진자 '0명'인 날은 절대 오지 않는다"" 美전문가","""The day when there are 'zero' confirmed cases..."
5,104,올림픽 다가오는데 도쿄 코로나 확산 빨라져...일주일새 25％↑,"As the Olympics are approaching, the spread of..."

In [ ]:
covid.to_excel('covid_en.xlsx', index = False, encoding = 'utf-8-sig')